.checkout-title {
    color: #FC4B08;
    font-family: 'Chedros';
    font-weight: 800;
    font-size: 1.75rem;
}

.checkout-quantity {
    color: #FC4B08;
    text-align: center;
    font-size: 30px;
    border: 2px solid #FC4B08;
    border-radius: 5px;

}