.note-to-order:focus {
    height: 80px;
    background-color: white;
    color: aliceblue;
    text-align: center;
    border: none;
}

.dropdown-note {
    background-color: white;
}

.btn-note-ok {
    width: 100%;
    background-color: #FC4B08;
    color: white;
    margin-top: 5px !important
}