.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FC4B08;
    border-radius: 10px;
    height: 2.2rem;
    padding: 5px;
    width: 250px;


}

.quantity-counter {
    margin: 0 10px;
    color: white;
}

.btn-counter {
    background-color: white;
    color: FC4B08;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 10px;
}

.label-counter {
    margin-right: 10px;

}