.delivery-container {
    background: #FC4B08;
    box-shadow: 0 0 10px rgb(253, 223, 0.58);
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    border-radius: 5px;

}

.delivery-label {
    color: white;
    font-family: 'Chedros';
    font-weight: 600;
    margin: 8px;
    text-align: center;
}

.fullFill-btn-container {
    display: flex;
    justify-content: center;
    background: #FC4B08;
    margin-top: 10px;
    height: 3.25rem;
    padding: 2px;
    width: 100%;
    border-radius: 5px;
}

.btn.button-place {
    flex-grow: 0.75;
    width: 100%
}

.btn.button-place.active {
    background-color: #25D366;
    color: #fff;
    outline: none;
    box-shadow: none
}