.modal-content {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.add-on-title {
    font-family: 'Chedros';
    font-size: 25px;
    color: #FC4B08;
}

.add-on-description {
    font-family: "Chedros-Regular";
    font-size: medium;
    margin-bottom: 10px;
    color: #FC4B08
}

.add-on-header {
    border-bottom: none;
    color: yellow;
    background-color: white;

}

.btn-close {
    background: transparent url("/public/images/close-button.png") center/1.5rem auto no-repeat;
    opacity: 1;
}

.add-to-cart-btn {
    background-color: #FC4B08;
    color: white;
    border-color: #FC4B08;
}

.modal-footer {
    justify-content: center;
}

.drops-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dropdown button,
.dropdown {
    width: 250px;
    margin: 1px;
    background-color: #FC4B08;
    color: white;
    border-color: #FC4B08;
    border-radius: 10px;

}

.dropdown-toggle:focus {
    box-shadow: none;
    background-color: #FC4B08;
}

.btn-primary:focus,
.btn-primary.focus {
    background-color: white;
    border-color: white;
}

.btn-primary:focus,
.btn-primary.focus {
    background-color: white;
    border-color: white;
}

.add-on-image-container {
    width: 100%;
    text-align: center;
}

.add-on-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.sampler-warning {
    border: 1px green solid;
    font-size: medium;
    color: white;
    text-align: center;
    background-color: #FC4B08;
}