.navbar-header {
    background-color: black;
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
}

.logoB {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;

}

@media (min-width: 720px) {
    .navbar-header img {
        width: 400px;
        height: 400px;
    }
}