body {
    background-color: black;
    font-family: "Chedros-Medium", sans-serif;
    color: black;
}

@font-face {
    font-family: 'Chedros';
    src: url("../public/fonts/CHEDROS/CHEDROS.ttf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

.navbar-brand {
    margin-right: 0
}

.modal-header {
    border-bottom: none;
}